<% provide(:title, "Help") %>
<h1>Help</h1>
<table cellspacing="0" cellpadding="0" align="center"><!--две картинки-->
  <tr>
    <td>
      <%= image_tag("синие14.jpg", alt: "Rails logo", width: "500",height: "600")%>
      <%= image_tag("синие20.jpg", alt: "Rails logo", width: "500",height: "600")%>
    </td>
  </tr>
</table>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>